* {
    margin: 0;
    padding: 0;
    outline: none;
    list-style-type: none;
    text-decoration: none;
}

body {
    padding-left: 30%;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 1.5;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 30%;
    overflow: hidden;
    border: 1px solid #000;
    background-color: rgb(75, 32, 32);
    z-index: 100;
}

.profile_img img {
    width: 50%;
    height: auto;
    border-radius: 50%;
    margin: 10% 25%;
}

.navbar {
    height: 100%;
    width: 100%;
    font-size: 1.5rem;
    margin-top: -50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar ul {
    padding: 0;
}

.navbar ul li a {
    display: block;
    padding: 10px;
    color: #fff;
}

.navbar ul li a:hover {
    background-color: #fff;
    color: #000;
    border-radius: 3rem;
}

footer {
    margin-bottom: 0;
    width: 100%;
    height: 10vh;
    font-size: 1rem;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about > * {
    margin-bottom: 20px;
}

#about h1 {
    font-size: 3rem;
    color: #4e2626;
    text-shadow: #000 1px 1px 1px;
}

#about h4 {
    font-size: 1rem;
    color: #4e2626;
    text-shadow: #000 1px 1px 1px;
}

#about p {
    font-size: 1.25rem;
    color: #4e2626;
    margin-bottom: 10%;
    font-weight: 400;
}
.contact ul {
    display: flex;
    justify-content: space-between;
}

.contact ul li:not(:last-child) {
    margin-right: 20px; 
}

.contact ul li a {
    color: #4e2626;
    padding: 10px;
    font-size: 1.75rem;
    border: 1px solid #4e2626;
    border-radius: 50%;
}

.contact ul li a:hover {
    color: #fff;
    background-color: #4e2626;
    border-radius: 50%;
}

#experience h1, #education h1, #skills h1{
    font-size: 3rem;
    color: #4e2626;
    text-shadow: #000 1px 1px 1px;
    margin-bottom: 10%;
}

#experience h3, #education h3{
    font-size: 1.6rem;
    color: #4e2626;
    margin-bottom: 1%;
}

#experience h4, #education h4{
    font-size: 1.25rem;
    color: #000;
    margin-bottom: 3%;
}

#experience h5, #education h5{
    font-size: 1.5rem;
    color: #4e2626;
    margin-bottom: 2%;
}

#experience p{
    font-size: 1.25rem;
    color: #000;
    margin-bottom: 15%;
    font-weight: 400;
}

#education p {
    font-size: 1.25rem;
    color: #000;
    margin-bottom: 10%;
    font-weight: 400;
}

#education .end {
    margin-bottom: 15%;
}

#skills ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 2.5rem;
    width: 100vh;
    margin-bottom: 15%;
}

#skills ul li {
    padding: 5px;
    margin: 15px;
    border: 1px solid #4e2626;
    border-radius: 50%;

}

#skills ul li:hover {
    background-color: #4e2626;
    border-radius: 50%;
}   

#skills ul li a {
    color: #4e2626;
    padding: 10px;
    border-radius: 50%;
}

#skills ul li a:hover {
    color: #fff;
    background-color: #4e2626;
    border-radius: 50%;
}

#skills ul li a i {
    justify-content: center;
    font-size: 1.75rem;
}

@media (max-width: 768px) {
    body {
        padding-left: 0;    
        margin: 10px;
    }

    .header { 
        position: relative;
        width: 100%;
        height: 20vh;
        margin-bottom: 10%;
    }

    .navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 0;
        font-size: 1rem;
    }

    .navbar ul li{
        display: inline-block;
        margin-right: 10px;
    }
    
    .profile_img img {
        display: none;
    }

    #skills ul {
        font-size: 1.5rem;
        width: 50vh;
        margin-bottom: 8%;
    }
    
    #skills ul li {
        padding: 5px;
        margin: 15px;
    } 
    
    #skills ul li a {
        padding: 2px;
    }
    
    #skills ul li a i {
        font-size: 1rem;
    }

    #about h1 {
        font-size: 2rem;
    }

    #about h4 {
        font-size: 0.75rem;
    }

    #about p {
        font-size: 1rem;
    }

    #experience h1, #education h1, #skills h1{
        font-size: 2rem;
        margin-bottom: 5%;
    }

    #experience h3, #education h3{
        font-size: 1.25rem;
        margin-bottom: 1%;
    }

    #experience h4, #education h4{
        font-size: 1rem;
        margin-bottom: 2%;
    }

    #experience h5, #education h5{
        font-size: 1.25rem;
        margin-bottom: 2%;
    }

    #experience p{
        font-size: 1rem;
        margin-bottom: 10%;
    }

    #education p {
        font-size: 1rem;
        margin-bottom: 5%;
    }    
}